@page
@model AssetProject.Areas.Admin.Pages.ContractManagment.DetailsContractModel
@{
}


<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Set Up</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contract Details</li>
          </ol>
          <h6 class="slim-pagetitle">Contract Information</h6>
        </div><!-- slim-pageheader -->

 <div class="section-wrapper">
         @* <label class="section-title">Please fill your company information</label>*@
          @*<p class="mg-b-20 mg-sm-b-40">Please fill your company information</p>*@

          <div class="form-layout">  
            <div class="row mg-b-25">
              <div class="col-lg-4">
                  <label class="form-control-label">Contact Title: <span class="tx-danger">*</span></label>
                  <div style="font-size:xx-large">@Model.Contract.Title</div>
              </div><!-- col-4 -->

              <div class="col-lg-4">
                  <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                  <div style="font-size:xx-large">@Model.Contract.Description</div>
              </div><!-- col-4 -->

            
                 <div class="col-lg-4">
                  <label class="form-control-label">Contract No: <span class="tx-danger">*</span></label>
                  <div style="font-size:xx-large">@Model.Contract.ContractNo</div>
              </div><!-- col-4 -->
             

                 <div class="col-lg-4">
                  <label class="form-control-label">Cost: <span class="tx-danger">*</span></label>
                  <div style="font-size:xx-large">@Model.Contract.Cost</div>
              </div><!-- col-4 -->

                 <div class="col-lg-4">
                  <label class="form-control-label">Start Date: <span class="tx-danger">*</span></label>
                  <div style="font-size:xx-large">@Model.Contract.StartDate.ToShortDateString()</div>
              </div><!-- col-4 -->

               
                 <div class="col-lg-4">
                  <label class="form-control-label">End Date: <span class="tx-danger">*</span></label>
                  <div style="font-size:xx-large">@Model.Contract.EndDate.ToShortDateString()</div>
              </div><!-- col-4 -->
   
                 <div class="col-lg-4">
                  <label class="form-control-label">Vendor: <span class="tx-danger">*</span></label>
                  <div style="font-size:xx-large">@Model.VendorName</div>
              </div><!-- col-4 -->

         
            </div><!-- row -->

            <div class="form-layout-footer">
        <a  asp-area="Admin" asp-page="/ContractManagment/ContractList">
                 <input type='button' class="btn btn-secondary bd-0" value='Back to List' />
              </a>
            </div><!-- form-layout-footer -->
       
          </div><!-- form-layout -->
        </div><!-- section-wrapper -->
        
      </div><!-- container -->
    </div>

    
@section Scripts {
 <script>

 
    </script>
}