@page
@model AssetProject.Areas.Admin.Pages.AssetManagment.AddAssetModel
@{
}


<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Asset</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Asset</li>
          </ol>
          <h6 class="slim-pagetitle">Asset Information</h6>
        </div><!-- slim-pageheader -->

 <div class="section-wrapper">
          <label class="section-title">Please fill your Asset information</label>
          @*<p class="mg-b-20 mg-sm-b-40">Please fill your company information</p>*@

          <div class="form-layout">
              <form  method="post" enctype="multipart/form-data">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mg-b-25">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Asset Description: <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.AssetDescription" class="form-control"  placeholder="Enter Asset Description">
                   <span asp-validation-for="Asset.AssetDescription" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->
                   <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Asset Tag Id: <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.AssetTagId" class="form-control"  placeholder="Enter Asset Tag Id">
                   <span asp-validation-for="Asset.AssetTagId" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->
                   <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Asset Cost: <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.AssetCost" class="form-control"  placeholder="Enter Asset Cost" value="@(Model.Asset.AssetCost > 0 ? Model.Asset.AssetCost :string.Empty)">
                   <span asp-validation-for="Asset.AssetCost" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->
                   <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Asset Serial No: <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.AssetSerialNo" class="form-control"  placeholder="Enter Asset Serial No">
                   <span asp-validation-for="Asset.AssetSerialNo" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->
                   <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Asset Purchase Date: <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.AssetPurchaseDate" type="date" class="form-control date"  placeholder="Enter Asset Purchase Date" value="@(Model.Asset.AssetPurchaseDate >= DateTime.Now ? Model.Asset.AssetPurchaseDate :string.Empty)">
                   <span asp-validation-for="Asset.AssetPurchaseDate" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->
                   <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Item: <span class="tx-danger">*</span></label>
                 
                                @(Html.DevExtreme().LookupFor(c=>c.Asset.ItemId)
            .DataSource(d => d.WebApi()
                .Controller("Lookups")
                .LoadAction("ItemsLookup")
                .Key("Value")
            )
            .ValueExpr("Value")
            .DisplayExpr("Text")
        )
                   <span asp-validation-for="Asset.ItemId" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->
              <hr />
 
                          
           <div class="col-lg-4">
        <div class="form-group">
          <label class="form-control-label">Asset Photo: <span class="tx-danger">*</span></label>
        <div class="custom-file">
            <input  type="file" name="file"  accept=".png, .jpg, .jpeg"  class="custom-file-input" id="text" required >
            <label class="custom-file-label" for="File">Choose New Photo</label>
        </div>
    </div>
    </div>  
         

            
                 
              <hr />

     <div class="col-lg-4">
      <div class="form-group ">
             
 <label class="form-control-label">Depreciable Asset </label>
    <div class="col-md-10">  
        Yes 
        @Html.RadioButtonFor(model => model.Asset.DepreciableAsset, "Yes")  
        No
        @Html.RadioButtonFor(model => model.Asset.DepreciableAsset, "No")  
    </div>  
            </div>
            </div>
                   <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Depreciable Cost: <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.DepreciableCost" class="form-control"  placeholder="Enter Depreciable Cost " value="@(Model.Asset.DepreciableCost > 0 ? Model.Asset.DepreciableCost :string.Empty)">
                   <span asp-validation-for="Asset.DepreciableCost" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->

                <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Salvage Value: <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.SalvageValue" class="form-control" placeholder="Enter salvage Value " value="@(Model.Asset.SalvageValue > 0 ? Model.Asset.SalvageValue :string.Empty)" >
                   <span asp-validation-for="Asset.SalvageValue" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->
                <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Asset Life (Months): <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.AssetLife" class="form-control" placeholder="Enter Asset Life " value="@(Model.Asset.AssetLife > 0 ? Model.Asset.AssetLife :string.Empty)" >
                   <span asp-validation-for="Asset.AssetLife" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->
                     <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Date Acquired: <span class="tx-danger">*</span></label>
                  <input asp-for="Asset.DateAcquired" type="date" class="form-control date"  placeholder="Enter Date Acquired" value="@(Model.Asset.DateAcquired >= DateTime.Now ? Model.Asset.DateAcquired :string.Empty)">
                   <span asp-validation-for="Asset.DateAcquired" class="text-danger"></span>
                </div>
              </div><!-- col-4 -->


                            <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Depreciation Method: <span class="tx-danger">*</span></label>
                 
                                @(Html.DevExtreme().LookupFor(c=>c.Asset.DepreciationMethodId)
            .DataSource(d => d.WebApi()
                .Controller("Lookups")
                .LoadAction("DepreciationMethodsLookup")
                .Key("Value")
            )
            .ValueExpr("Value")
            .DisplayExpr("Text")
        )
                   <span asp-validation-for="Asset.DepreciationMethodId" class="text-danger"></span>
                </div>
            </div><!-- row -->

            <div class="form-layout-footer">
              <button class="btn btn-primary bd-0">Create Asset </button>
             <a  asp-area="Admin" asp-page="/AssetManagment/AssetList">
                 <input type='button' class="btn btn-secondary bd-0" value='Cancel' />
              </a>
            </div><!-- form-layout-footer -->
            </form>
          </div><!-- form-layout -->
        </div><!-- section-wrapper -->
        
      </div><!-- container -->
    </div>

    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
     <script type="text/javascript">  
        // Add the following code if you want the name of the file appear on select  
        $("#text").on("change", function () {
        var fileName = $(this).val().split("\\").pop();  
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    
    </script>  
}