@page "{id:int?}"
@model AssetProject.Pages.EditCompanyInformationModel
@{
     //Layout = "~/Pages/Shared/Admin/_AdminLayoutSlim.cshtml";
}


<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
          </ol>
          <h6 class="slim-pagetitle">Company Information</h6>
        </div><!-- slim-pageheader -->

     



 <div class="section-wrapper">
          <label class="section-title">Please fill your company information</label>
          @*<p class="mg-b-20 mg-sm-b-40">Please fill your company information</p>*@

          <div class="form-layout">
              <form  method="post" enctype="multipart/form-data">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mg-b-25">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Company Name: <span class="tx-danger">*</span></label>
                  <input asp-for="@Model.tenant.CompanyName" class="form-control"  placeholder="Enter Company name">
                </div>
              </div><!-- col-4 -->
              
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label"> Address: <span class="tx-danger">*</span></label>
                  <input asp-for="@Model.tenant.Address" class="form-control" placeholder="Enter Address">
                </div>
              </div><!-- col-4 -->

              <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">City: <span class="tx-danger">*</span></label>
                  <input  asp-for="@Model.tenant.City" class="form-control" placeholder="Enter City">
                </div>
              </div><!-- col-8 -->

              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">State : <span class="tx-danger">*</span></label>
                  <input asp-for="@Model.tenant.State" class="form-control" placeholder="Enter State">
                </div>
              </div><!-- col-4 -->

              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">PostalCode : <span class="tx-danger">*</span></label>
                  <input asp-for="@Model.tenant.PostalCode" class="form-control" placeholder="Enter Postol Code">
                </div>
              </div><!-- col-4 -->

          <div class="col-lg-4">
        <div class="form-group">
          <label class="form-control-label">Logo: <span class="tx-danger">*</span></label>
        <div class="custom-file">
            <input  type="file" name="file"  accept=".png, .jpg, .jpeg"  class="custom-file-input" id="text"  >
            <label class="custom-file-label" for="File">Choose New logo</label>
        </div>
    </div>
    </div>  

      <div class="col-lg-4">
    <div class="form-group">
                <label class="form-control-label">Country: <span class="tx-danger">*</span></label>
                @*<select asp-for="@Model.tenant.CountryId" class ="form-control" asp-items="@Model.countries">
                    <option value="0">Please select</option>
       
                </select>*@       
        @(Html.DevExtreme().LookupFor(c=>c.tenant.CountryId)
            .DataSource(d => d.Mvc()
                .Controller("Lookups")
                .LoadAction("CountriesLookup")
                .Key("CountryId")
            )
            .ValueExpr("CountryId")
            .DisplayExpr("CountryTitle")
        )
            </div>
        </div>

          <input asp-for="@Model.tenant.TenantId" class="form-control"  placeholder="Enter Company name" hidden>
            
            </div><!-- row -->

            <div class="form-layout-footer">
              <button class="btn btn-primary bd-0">Submit Form</button>
              <button class="btn btn-secondary bd-0">Cancel</button>
            </div><!-- form-layout-footer -->
            </form>
          </div><!-- form-layout -->
        </div><!-- section-wrapper -->
        
      </div><!-- container -->
    </div>
 @section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">  
        // Add the following code if you want the name of the file appear on select  
        $("#text").on("change", function () {
        var fileName = $(this).val().split("\\").pop();  
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    

    </script>  
}