@page
@model AssetProject.Areas.Admin.Pages.Dashboards.DashboardSummaryModel
@{
}
<div class="slim-mainpanel" style="position: relative;">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">@sharedResource["Home"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">@sharedResource["Dashboard"]</li>
            </ol>
            <h6 class="slim-pagetitle">@sharedResource["Welcome back, Mohamed"]</h6>
        </div><!-- slim-pageheader -->
          
        <div class="row row-xs">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-cloud-download-outline tx-purple"></i>
                        <div class="media-body">
                            <h1>@Model.TotalAssetCount</h1>
                            <p>@sharedResource["Total Assets"]</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-bookmarks-outline tx-teal"></i>
                        <div class="media-body">
                            <h1>@Model.TotalAssetValue</h1>
                            <p>@sharedResource["Total Asset Cost"]</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-cloud-upload-outline tx-primary"></i>
                        <div class="media-body">
                            <h1>@Model.TotalAssetActive</h1>
                            <p>@sharedResource["Active"]</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-analytics-outline tx-pink"></i>
                        <div class="media-body">
                            <h1>@Model.TotalAssetAvaliable</h1>
                            <p>@sharedResource["Available"]</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
        </div><!-- row -->
        <div class="row row-xs mt-2">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-cloud-download-outline tx-purple"></i>
                        <div class="media-body">
                            <h1>@Model.TotalAssetPurchaseCY</h1>
                            <p>@sharedResource["Current Year Purchase"]</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-bookmarks-outline tx-teal"></i>
                        <div class="media-body">
                            <h1>@Model.TotalAssetLinkWarrenty</h1>
                            <p>@sharedResource["Asset Linked To Warrenty"]</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-cloud-upload-outline tx-primary"></i>
                        <div class="media-body">
                            <h1>@Model.TotalAssetLinkContract</h1>
                            <p>@sharedResource["Asset Linked To Contract"]</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-analytics-outline tx-pink"></i>
                        <div class="media-body">
                            <h1>@Model.TotalAssetLinkInsurance</h1>
                            <p>@sharedResource["Asset Link To Insurance"]</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
        </div><!-- row -->
        <div class="row row-xs mg-t-10">
            <div class="col-lg-8 col-xl-9">
                <div class="row row-xs">
                    <div class="col-md-5 col-lg-6 col-xl-5">
                        <div class="card card-activities pd-20">
                            <h6 class="slim-card-title">Recent Activities</h6>
                            <p>Last activity was 1 hour ago</p>

                            <div class="media-list">
                                <div class="media">
                                    <div class="activity-icon bg-primary">
                                        <i class="icon ion-stats-bars"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Report has been updated</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media">
                                    <div class="activity-icon bg-success">
                                        <i class="icon ion-trophy"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Achievement Unlocked</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media">
                                    <div class="activity-icon bg-purple">
                                        <i class="icon ion-image"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Added new images</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                            </div><!-- media-list -->
                        </div><!-- card -->
                    </div><!-- col-5 -->
                    <div class="col-md-7 col-lg-6 col-xl-7 mg-t-10 mg-md-t-0">
                        <div class="dash-headline-item-one">
                     
                             @(Html.DevExtreme().Chart()
                                            .ID("AssetCostByStatus")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCostByStatus")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Cost")
                                            )
                                            .Title(sharedResource["Assets Cost Per Status"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                             )
                        
  
                             </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
                </div><!-- row -->
            </div><!-- col-9 -->
            
            <div class="col-lg-4 col-xl-3 mg-t-10 mg-lg-t-0">
                <div class="card card-table">
                    <div class="card-header">
                        <h6 class="slim-card-title">Top 5 Locations</h6>
                    </div><!-- card-header -->
                      <div class="table-responsive" >
                        <table class="table mg-b-0 tx-13" style="min-width:initial;">
                            <thead>
                                <tr class="tx-10">
                                    <th class="pd-y-5">Location</th>
                                    <th class="pd-y-5 tx-right">Assets</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                               
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
                                    </td>
                                    <td class="valign-middle tx-right">3,345</td>
                                  
                                </tr>
                                <tr>
                                   
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Westeros Sneaker</a>
                                    </td>
                                    <td class="valign-middle tx-right">720</td>
                                    
                                </tr>
                                <tr>
                                   
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Selonian Hand Bag</a>
                                    </td>
                                    <td class="valign-middle tx-right">1,445</td>
                                   
                                </tr>
                                <tr>
                                   
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Kel Dor Sunglass</a>
                                    </td>
                                    <td class="valign-middle tx-right">2,500</td>
                                    
                                </tr>
                                <tr>
                                   
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Kubaz Sunglass</a>
                                    </td>
                                    <td class="valign-middle tx-14 tx-right">223</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div class="card-footer tx-12 pd-y-15 bg-transparent">
                        <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Locations</a>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div>
            </div>
           

        <div class="row row-xs mt-2 mb-2">
          <div class="col-lg-3">
            <div class="card card-sales">
              <h6 class="slim-card-title tx-primary">@sharedResource["Available"]</h6>
              <div class="row mb-0">
                <div class="col">
                  <label class="tx-12">@sharedResource["Count"]</label>
                  <p>@Model.TotalAssetBrocken</p>
                </div><!-- col -->
                <div class="col">
                  <label class="tx-12">@sharedResource["Cost"]</label>
                  <p>@Model.TotalAssetBrockenValue</p>
                </div><!-- col -->
             
              </div><!-- row -->

            
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <div class="card card-sales">
              <h6 class="slim-card-title tx-success">@sharedResource["Sold"]</h6>
              <div class="row  mb-0">
                <div class="col">
                  <label class="tx-12">@sharedResource["Count"]</label>
                  <p>@Model.TotalSellAsst</p>
                </div><!-- col -->
                <div class="col">
                  <label class="tx-12">@sharedResource["Cost"]</label>
                  <p>@Model.TotalSellAsstValue</p>
                </div><!-- col -->
              
              </div><!-- row -->

             
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <div class="card card-sales">
              <h6 class="slim-card-title tx-danger">@sharedResource["Under Repair"]</h6>
              <div class="row  mb-0">
                <div class="col">
                  <label class="tx-12">@sharedResource["Count"]</label>
                  <p>@Model.TotalAssetUnderRepair</p>
                </div><!-- col -->
                <div class="col">
                  <label class="tx-12">@sharedResource["Cost"]</label>
                  <p>@Model.TotalAssetUnderRepairCost</p>
                </div><!-- col -->
               
              </div><!-- row -->

            
            </div><!-- card -->
          </div><!-- col-4 -->
            <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <div class="card card-sales">
              <h6 class="slim-card-title tx-warning">@sharedResource["Leased"]</h6>
              <div class="row  mb-0">
                <div class="col">
                  <label class="tx-12">@sharedResource["Count"]</label>
                  <p>@Model.TotalAssetLeased</p>
                </div><!-- col -->
                <div class="col">
                  <label class="tx-12">@sharedResource["Cost"]</label>
                  <p>@Model.TotalLeasedAssetCost</p>
                </div><!-- col -->
               
              </div><!-- row -->

            
            </div><!-- card -->
          </div><!-- col-4 -->
        </div>
       @* first*@
          <div class="row row-xs mg-t-10">
                    <div class="col-md-6 col-lg-6 col-xl-6 mg-t-10 mg-md-t-0">
                        <div class="dash-headline-item-one">
                       @(Html.DevExtreme().Chart()
                                            .ID("AssetCountByStatus")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCountByStatus")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#7978e9")

                                            )
                                            .Color("#4b49ac")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Count")
                                            )
                                            .Title(sharedResource["Assets Count Per Status"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                             )
                                                   </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
                    <div class="col-md-6 col-lg-6 col-xl-6 mg-t-10  mg-md-t-0 ">
                        <div class="dash-headline-item-one">
                            @(Html.DevExtreme().Chart()
                                            .ID("AssetCostByStatusID")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCostByStatus")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Cost")
                                            )
                                            .Title(sharedResource["Assets Cost Per Status"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                             )
                        </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
           </div>
      @*End*@
    
       <div class="row row-xs mt-2 mb-2">
          <div class="col-lg-3">
            <div class="card card-sales">
              <h6 class="slim-card-title tx-primary">@sharedResource["Lost"]</h6>
              <div class="row mb-0">
                <div class="col">
                  <label class="tx-12">@sharedResource["Count"]</label>
                  <p>@Model.TotalAssetLost</p>
                </div><!-- col -->
                <div class="col">
                  <label class="tx-12">@sharedResource["Cost"]</label>
                  <p>@Model.TotalAssetLostCost</p>
                </div><!-- col -->
             
              </div><!-- row -->

            
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <div class="card card-sales">
              <h6 class="slim-card-title tx-success">@sharedResource["CheckOut"]</h6>
              <div class="row  mb-0">
                <div class="col">
                  <label class="tx-12">@sharedResource["Count"]</label>
                  <p>@Model.TotalAssetCheckOut</p>
                </div><!-- col -->
                <div class="col">
                  <label class="tx-12">@sharedResource["Cost"]</label>
                  <p>@Model.TotalAssetCheckOutCost</p>
                </div><!-- col -->
              
              </div><!-- row -->

             
            </div><!-- card -->
          </div><!-- col-4 -->
          <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <div class="card card-sales">
              <h6 class="slim-card-title tx-danger">@sharedResource["Maintainance"]</h6>
              <div class="row  mb-0">
                <div class="col">
                  <label class="tx-12">@sharedResource["Count"]</label>
                  <p>@Model.TotalAssetMaint</p>
                </div><!-- col -->
                <div class="col">
                  <label class="tx-12">@sharedResource["Cost"]</label>
                  <p>@Model.TotalAssetMaintCost</p>
                </div><!-- col -->
               
              </div><!-- row -->

            
            </div><!-- card -->
          </div><!-- col-4 -->
            <div class="col-lg-3 mg-t-20 mg-lg-t-0">
            <div class="card card-sales">
              <h6 class="slim-card-title tx-warning">@sharedResource["Dispsed"]</h6>
              <div class="row  mb-0">
                <div class="col">
                  <label class="tx-12">@sharedResource["Count"]</label>
                  <p>@Model.TotalAssetDispose</p>
                </div><!-- col -->
                <div class="col">
                  <label class="tx-12">@sharedResource["Cost"]</label>
                  <p>@Model.TotalAssetDisposeCost</p>
                </div><!-- col -->
               
              </div><!-- row -->

            
            </div><!-- card -->
          </div><!-- col-4 -->
        </div>
         @* first*@
          <div class="row row-xs mg-t-10">
                    <div class="col-md-6 col-lg-6 col-xl-6 mg-t-10 mg-md-t-0">
                        <div class="dash-headline-item-one">
                         @(Html.DevExtreme().Chart()
                                            .ID("AssetCountByDepartment")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCountByDepartment")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Count")
                                            )
                                            .Title(sharedResource["Assets Count Per Department"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                           
                        </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
                    <div class="col-md-6 col-lg-6 col-xl-6 mg-t-10  mg-md-t-0 ">
                        <div class="dash-headline-item-one">
                             @(Html.DevExtreme().Chart()
                                            .ID("AssetCostByDepartment")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCostByDepartment")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Cost")
                                            )
                                            .Title(sharedResource["Assets Cost Per Department"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                          
                        </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
           </div>
        @*End*@
            @* first*@
          <div class="row row-xs mg-t-10">
                    <div class="col-md-6 col-lg-6 col-xl-6 mg-t-10 mg-md-t-0">
                        <div class="dash-headline-item-one">
                       @(Html.DevExtreme().Chart()
                                            .ID("AssetCountByCategory")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCountsPerCategory")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Count")
                                            )
                                            .Title(sharedResource["Assets Count Per Category"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                                                    </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
                    <div class="col-md-6 col-lg-6 col-xl-6 mg-t-10  mg-md-t-0 ">
                        <div class="dash-headline-item-one">
                            @(Html.DevExtreme().Chart()
                                            .ID("AssetCostByCategory")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCostByCategory")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Cost")
                                            )
                                            .Title(sharedResource["Assets Cost Per Category"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                        </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
           </div>
      @*End*@

           @* first*@
          <div class="row row-xs mg-t-10">
                    <div class="col-md-6 col-lg-6 col-xl-6 mg-t-10 mg-md-t-0">
                        <div class="dash-headline-item-one">
                        @(Html.DevExtreme().Chart()
                                            .ID("AssetCountByLocation")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCountByLocation")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Count")
                                            )
                                            .Title(sharedResource["Assets Count Per Location"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                            
                         </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
                    <div class="col-md-6 col-lg-6 col-xl-6 mg-t-10  mg-md-t-0 ">
                        <div class="dash-headline-item-one">
                           @(Html.DevExtreme().Chart()
                                            .ID("AssetCostByLocation")
                                            .Rotated(false)
                                            .DataSource("/api/Statistics/GetAssetCostByLocation")
                                            .Series(s => s.Add()
                                            .Label(l => l
                                            .Visible(true)
                                            .BackgroundColor("#c18e92")

                                            )
                                            .Color("#79cac4")
                                            .Type(SeriesType.Bar)
                                            .ArgumentField("Name")
                                            .ValueField("Cost")
                                            )
                                            .Title(sharedResource["Assets Cost Per Location"])
                                            .ArgumentAxis(a => a
                                            .Label(l => l
                                            .CustomizeText(@<text>
                                                    function() {
                                                    return this.valueText;
                                                    }
                                                </text>)
                                            )
                                            )
                                            .ValueAxis(a => a.Add()
                                            .Tick(t => t.Visible(false))
                                            .Label(l => l.Visible(false))
                                            )
                                            .Export(e => e.Enabled(true))
                                            .Legend(l => l.Visible(false))
                                            .ScrollBar(s => s.Visible(true))
                                            .ZoomAndPan(z => z.ArgumentAxis(ChartZoomAndPanMode.Both))
                                            )
                            
                        </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
           </div>
        @*End*@
 
        <div class="row row-xs mg-t-10">
            <div class="col-lg-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h6 class="slim-card-title">User Transaction History</h6>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table mg-b-0 tx-13">
                            <thead>
                                <tr class="tx-10">
                                    <th class="wd-10p pd-y-5">&nbsp;</th>
                                    <th class="pd-y-5">User</th>
                                    <th class="pd-y-5">Type</th>
                                    <th class="pd-y-5">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img1.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Mark K. Peters</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Email verified
                                    </td>
                                    <td>Just Now</td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img2.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Karmen F. Brown</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> Pending verification
                                    </td>
                                    <td>Apr 21, 2017 8:34am</td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img3.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Gorgonio Magalpok</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-success mg-r-5 rounded-circle"></span> Purchased success
                                    </td>
                                    <td>Apr 10, 2017 4:40pm</td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img5.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Ariel T. Hall</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> Payment on hold
                                    </td>
                                    <td>Apr 02, 2017 6:45pm</td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img4.jpg" class="wd-36 rounded-circle" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">John L. Goulette</a>
                                        <span class="tx-11 d-block">TRANSID: 1234567890</span>
                                    </td>
                                    <td class="tx-12">
                                        <span class="square-8 bg-pink mg-r-5 rounded-circle"></span> Account deactivated
                                    </td>
                                    <td>Mar 30, 2017 10:30am</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div class="card-footer tx-12 pd-y-15 bg-transparent">
                        <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Transaction History</a>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div><!-- col-6 -->
            <div class="col-lg-6 mg-t-10 mg-lg-t-0">
                <div class="card card-table">
                    <div class="card-header">
                        <h6 class="slim-card-title">Product Purchases</h6>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table mg-b-0 tx-13">
                            <thead>
                                <tr class="tx-10">
                                    <th class="wd-10p pd-y-5">&nbsp;</th>
                                    <th class="pd-y-5">Item Details</th>
                                    <th class="pd-y-5 tx-right">Sold</th>
                                    <th class="pd-y-5">Gain</th>
                                    <th class="pd-y-5 tx-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img28.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span> 20 remaining</span>
                                    </td>
                                    <td class="valign-middle tx-right">3,345</td>
                                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img29.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Westeros Sneaker</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                                    </td>
                                    <td class="valign-middle tx-right">720</td>
                                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>21.20%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img30.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Selonian Hand Bag</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                                    </td>
                                    <td class="valign-middle tx-right">1,445</td>
                                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>23.34%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img31.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Kel Dor Sunglass</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span> 45 remaining</span>
                                    </td>
                                    <td class="valign-middle tx-right">2,500</td>
                                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>28.78%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pd-l-20">
                                        <img src="../img/img32.jpg" class="wd-55" alt="Image">
                                    </td>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">Kubaz Sunglass</a>
                                        <span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> In stock</span>
                                    </td>
                                    <td class="valign-middle tx-14 tx-right">223</td>
                                    <td class="valign-middle"><span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>18.18%</span> from last week</td>
                                    <td class="valign-middle tx-center">
                                        <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div class="card-footer tx-12 pd-y-15 bg-transparent">
                        <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Products</a>
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div><!-- col-6 -->
        </div><!-- row -->
    </div><!-- container -->
    <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 100000px; height: 100000px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
</div>
