@page
@model AssetProject.Areas.Admin.Pages.PurchaseManagement.NewPurchaseModel
@{
}
<div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
          </ol>
          <h6 class="slim-pagetitle">Purchase Information</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">

              <label class="section-title">Please fill your Purchase information</label>
          <div class="form-layout">
                <form  method="post" enctype="multipart/form-data" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Purchase Date : <span class="tx-danger">*</span></label>
                          <input asp-for="@Model.purchase.date" class="form-control date" type="date" >
                           <span asp-validation-for="@Model.purchase.date" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
               <div class="col-lg-4">
                 <div class="form-group">
                <label class="form-control-label">Brand: <span class="tx-danger">*</span></label>
              
        @(Html.DevExtreme().LookupFor(c=>c.purchase.VendorId)
            .DataSource(d => d.WebApi()
                .Controller("Lookups")
                .LoadAction("VendorsLookup")
                .Key("Value")
            )
            .ValueExpr("Value")
            .DisplayExpr("Text")
        )
          <span asp-validation-for="purchase.VendorId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
    <div class="form-group">
                <label class="form-control-label">Brand: <span class="tx-danger">*</span></label>
              
        @(Html.DevExtreme().LookupFor(c=>c.purchase.StoreId)
            .DataSource(d => d.WebApi()
                .Controller("Lookups")
                .LoadAction("StoresLookup")
                .Key("Value")
            )
            .ValueExpr("Value")
            .DisplayExpr("Text")
        )
          <span asp-validation-for="purchase.StoreId" class="text-danger"></span>
            </div>
        </div>
       
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label"> Total : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.purchase.Total"  class="form-control" readonly>
                           <span asp-validation-for="@Model.purchase.Total" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label"> Discount : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.purchase.Discount"  class="form-control" placeholder="Enter Discount">
                           <span asp-validation-for="@Model.purchase.Discount"  class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                    
       
                      <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                          <label class="form-control-label">Net : <span class="tx-danger">*</span></label>
                          <input  asp-for="@Model.purchase.Net"  class="form-control" readonly>
                           <span asp-validation-for="@Model.purchase.Net" class="text-danger"></span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Notes</label>
                             <textarea asp-for="@Model.purchase.Remarks" class="form-control" placeholder="Enter Remarks" id="exampleFormControlTextarea1" rows="3"></textarea>
                             <span asp-validation-for="@Model.purchase.Remarks" class="text-danger"></span>
                         </div>                   
                      </div><!-- col-6 -->
                   
                       </div>@(Html.DevExtreme().DataGrid<AssetProject.Models.PurchaseAsset>()
                           
       .DataSource(Model.ltDetails, "PurchaseAssetId")
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.PurchaseAssetId);

        columns.AddFor(m => m.PurchaseId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("PurchaseAssets").LoadAction("PurchasesLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.ItemId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("PurchaseAssets").LoadAction("ItemsLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.Quantity);

        columns.AddFor(m => m.Price);

        columns.AddFor(m => m.Total);

        columns.AddFor(m => m.Discount);

        columns.AddFor(m => m.Net);

        columns.AddFor(m => m.Remarks);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)

                    <div class="form-layout-footer mt-4 ">
                      <button class="btn btn-primary bd-0">Submit</button>
                      <a asp-area="admin" class="btn btn-secondary " asp-page="PurchaseList">Cancel</a>
                     </div><!-- form-layout-footer -->
                </form>

          </div><!-- form-layout -->
        </div><!-- section-wrapper --> 
  </div><!-- container -->
</div>

    
 @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script>

 $(function(){
    var date = new Date().toISOString().slice(0,10);

//To restrict past date

$('.date').attr('min', date);


});
    </script>
}